.btn-outline-reca {
    color: #73b231;
    border-color: #73b231;
}

    .btn-outline-reca:hover {
        color: #000;
        background-color: #73b231;
        border-color: #73b231;
    }

    .btn-check:focus + .btn-outline-reca, .btn-outline-reca:focus {
        box-shadow: 0 0 0 0.25rem rgba(115, 178, 49, 0.5);
    }

    .btn-check:checked + .btn-outline-reca, .btn-check:active + .btn-outline-reca, .btn-outline-reca:active, .btn-outline-reca.active, .btn-outline-reca.dropdown-toggle.show {
        color: #000;
        background-color: #73b231;
        border-color: #73b231;
    }

        .btn-check:checked + .btn-outline-reca:focus, .btn-check:active + .btn-outline-reca:focus, .btn-outline-reca:active:focus, .btn-outline-reca.active:focus, .btn-outline-reca.dropdown-toggle.show:focus {
            box-shadow: 0 0 0 0.25rem rgba(115, 178, 49, 0.5);
        }

    .btn-outline-reca:disabled, .btn-outline-reca.disabled {
        color: #73b231;
        background-color: transparent;
    }

.table-reca {
    --bs-table-bg: #73b231;
    --bs-table-striped-bg: #6da92f;
    --bs-table-striped-color: #000;
    --bs-table-active-bg: #68a02c;
    --bs-table-active-color: #000;
    --bs-table-hover-bg: #6aa52d;
    --bs-table-hover-color: #000;
    color: #000;
    border-color: #68a02c;
}

.alert-reca {
    color: #456b1d;
    background-color: #e3f0d6;
    border-color: #d5e8c1;
}

    .alert-reca .alert-link {
        color: #375617;
    }

.bg-reca {
    background-color: #73b231 !important;
}

.text-reca {
    color: #73b231 !important;
}

.border-reca {
    border-color: #73b231 !important;
}

.link-reca {
    color: #73b231;
}

    .link-reca:hover, .link-reca:focus {
        color: #8fc15a;
    }

.list-group-item-reca {
    color: #456b1d;
    background-color: #e3f0d6;
}

    .list-group-item-reca.list-group-item-action:hover, .list-group-item-reca.list-group-item-action:focus {
        color: #456b1d;
        background-color: #ccd8c1;
    }

    .list-group-item-reca.list-group-item-action.active {
        color: #fff;
        background-color: #456b1d;
        border-color: #456b1d;
    }

.btn-reca {
    color: #000000;
    background-color: #73b231;
    border-color: #73b231;
}

    .btn-reca:hover {
        color: #000000;
        background-color: #88be50;
        border-color: #81ba46;
    }

    .btn-check:focus + .btn-reca, .btn-reca:focus {
        color: #000000;
        background-color: #88be50;
        border-color: #81ba46;
        box-shadow: 0 0 0 0.25rem rgba(98, 151, 42, 0.5);
    }

    .btn-check:checked + .btn-reca, .btn-check:active + .btn-reca, .btn-reca:active, .btn-reca.active, .show > .btn-reca.dropdown-toggle {
        color: #000000;
        background-color: #8fc15a;
        border-color: #81ba46;
    }

        .btn-check:checked + .btn-reca:focus, .btn-check:active + .btn-reca:focus, .btn-reca:active:focus, .btn-reca.active:focus, .show > .btn-reca.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.25rem rgba(98, 151, 42, 0.5);
        }

    .btn-reca:disabled, .btn-reca.disabled {
        color: #000000;
        background-color: #73b231;
        border-color: #73b231;
    }