:root {
    --custom-primary: #73b231;
    --custom-primary-light: #9ac768;
    --custom-primary-light-2: #bcda9a;
    --custom-primary-light-3: #deeccc;
    --custom-primary-dark: #588429;
    --custom-primary-dark-2: #3c561f;
    --custom-primary-dark-3: #3c561f;
    --custom-primary-shadow-dark: 0 0 0 0.25rem rgba(98, 151, 42, 0.5);
    --custom-primary-shadow-light: 0 0 0 0.25rem rgba(115, 178, 49, 0.5);
}

.btn-outline-custom {
    color: var(--custom-primary);
    border-color: var(--custom-primary);
}

    .btn-outline-custom:hover {
        color: #000;
        background-color: var(--custom-primary);
        border-color: var(--custom-primary);
    }

    .btn-check:focus + .btn-outline-custom, .btn-outline-custom:focus {
        box-shadow: var(--custom-primary-shadow-light);
    }

    .btn-check:checked + .btn-outline-custom, .btn-check:active + .btn-outline-custom, .btn-outline-custom:active, .btn-outline-custom.active, .btn-outline-custom.dropdown-toggle.show {
        color: #000;
        background-color: var(--custom-primary);
        border-color: var(--custom-primary);
    }

        .btn-check:checked + .btn-outline-custom:focus, .btn-check:active + .btn-outline-custom:focus, .btn-outline-custom:active:focus, .btn-outline-custom.active:focus, .btn-outline-custom.dropdown-toggle.show:focus {
            box-shadow: var(--custom-primary-shadow-light);
        }

    .btn-outline-custom:disabled, .btn-outline-custom.disabled {
        color: var(--custom-primary);
        background-color: transparent;
    }

.table-custom {
    --bs-table-bg: var(--custom-primary);
    --bs-table-striped-bg: #6da92f;
    --bs-table-striped-color: #000;
    --bs-table-active-bg: #68a02c;
    --bs-table-active-color: #000;
    --bs-table-hover-bg: #6aa52d;
    --bs-table-hover-color: #000;
    color: #000;
    border-color: #68a02c;
}

.alert-custom {
    color: var(--custom-primary-dark);
    background-color: var(--custom-primary-light-3);
    border-color: var(--custom-primary-light-2);
}

    .alert-custom .alert-link {
        color: var(--custom-primary-dark);
    }

.bg-custom {
    background-color: var(--custom-primary) !important;
}

.text-custom {
    color: var(--custom-primary) !important;
}

.border-custom {
    border-color: var(--custom-primary) !important;
}

.link-custom {
    color: var(--custom-primary);
}

    .link-custom:hover, .link-custom:focus {
        color: var(--custom-primary-light-2);
    }

.list-group-item-custom {
    color: var(--custom-primary-dark);
    background-color: var(--custom-primary-light-2);
}

    .list-group-item-custom.list-group-item-action:hover, .list-group-item-custom.list-group-item-action:focus {
        color: var(--custom-primary-dark);
        background-color: var(--custom-primary-light-2);
    }

    .list-group-item-custom.list-group-item-action.active {
        color: #fff;
        background-color: var(--custom-primary-dark);
        border-color: var(--custom-primary-dark);
    }

.active-shadow-custom {
}

    .btn-check:focus + .active-shadow-custom, .active-shadow-custom:focus {
        box-shadow: var(--custom-primary-shadow-dark);
    }

    .btn-check:checked + .active-shadow-custom :focus, .btn-check:active + .active-shadow-custom :focus, .active-shadow-custom :active:focus, .active-shadow-custom .active:focus, .show > .active-shadow-custom .dropdown-toggle:focus {
        box-shadow: var(--custom-primary-shadow-dark);
    }

.btn-rounded-active-custom {
    transition: none;
    color: var(--custom-primary);
}

    .btn-check:focus + .btn-rounded-active-custom, .btn-rounded-active-custom:focus {
        box-shadow: none;
    }

    .btn-check:checked + .btn-rounded-active-custom :focus, .btn-check:active + .btn-rounded-active-custom :focus, .btn-rounded-active-custom :active:focus, .btn-rounded-active-custom .active:focus, .show > .btn-rounded-active-custom .dropdown-toggle:focus {
        box-shadow: none;
    }

    .btn-rounded-active-custom:hover {
        color: var(--custom-primary);
        border-radius: 9999px;
        background-color: var(--custom-primary-light-3);
    }

.btn-custom {
    color: #000000;
    background-color: var(--custom-primary);
    border-color: var(--custom-primary);
}

    .btn-custom:hover {
        color: #000000;
        background-color: var(--custom-primary-light);
        border-color: var(--custom-primary-light);
    }

    .btn-check:focus + .btn-custom, .btn-custom:focus {
        color: #000000;
        background-color: var(--custom-primary-light);
        border-color: var(--custom-primary-light);
        box-shadow: var(--custom-primary-shadow-dark);
    }

    .btn-check:checked + .btn-custom, .btn-check:active + .btn-custom, .btn-custom:active, .btn-custom.active, .show > .btn-custom.dropdown-toggle {
        color: #000000;
        background-color: var(--custom-primary-light-2);
        border-color: var(--custom-primary-light);
    }

        .btn-check:checked + .btn-custom:focus, .btn-check:active + .btn-custom:focus, .btn-custom:active:focus, .btn-custom.active:focus, .show > .btn-custom.dropdown-toggle:focus {
            box-shadow: var(--custom-primary-shadow-dark);
        }

    .btn-custom:disabled, .btn-custom.disabled {
        color: #000000;
        background-color: var(--custom-primary);
        border-color: var(--custom-primary);
    }

.nav-pills-custom .nav-link {
    background: none;
    border: 0;
    border-radius: 0.25rem;
}

    .nav-pills-custom .nav-link.active,
    .nav-pills-custom .show > .nav-link {
        color: #fff;
        background-color: var(--custom-primary);
    }